:root {
  --red: #ff5959;
  --orangey:	#ffb01f;
  --green: #00bd91;
  --blue: #1125d4;
  --g-slate-blue: #7857ff;
  --g-royal-blue: #2e2be9;
  --g-violet-blue: #4e21ca;
  --g-persian-blue: #4e21ca;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  font-size: 62.5%;
  height: 100vh;
  width: 100vw;
}