:root {
  --red: #ff5959;
  --orangey:	#ffb01f;
  --green: #00bd91;
}
 hsl(166, 100%, 37%)

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  font-size: 62.5%;
  height: 100vh;
  width: 100vw;
}