:root {
  --red: #ff5959;
  --orangey:	#ffb01f;
  --green: #00bd91;
  --blue: #1125d4;
  --pale-blue: rgb(235, 241, 255);
  --white: rgb(255, 255, 255);
  --dark-gray-blue: #303b5a;
  --lavender: #c8c7ff;
  --g-slate-blue: #7857ff;
  --g-royal-blue: #2e2be9;
  --g-violet-blue: #4e21ca;
  --g-persian-blue: #2421ca;
}

@font-face {
  font-family: 'HankenGrotesk', sans-serif;
  src: url(./assets/fonts//HankenGrotesk-VariableFont_wght.ttf);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  font-size: 62.5%;
  font-family: 'HankenGrotesk', sans-serif;
  height: 100vh;
  width: 100vw;
}

li {
  display: block;
}

main {
  height: 100%;
  width: 100%;
}

section {
  height: 40%;
  background-color: var(--g-royal-blue);
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

summary {
  padding: 30px;
}

summary > h2 {
  font-size: 2rem;
}

summary > ul > li {
  font-size: 1.3rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  width: 100%;
  height: 60px;
  border-radius: 10px;
  background-color: #00bd91;
  margin: 24px 0;
}

#reaction {
  color: var(--red);
  background-color: hsl(0, 100%, 95%);
}

#memory {
  color: var(--orangey);
  background-color: hsl(39, 100%, 95%);
}

#verbal {
  color: var(--green);
  background-color: hsl(166, 100%, 95%);
}

#visual {
  color: var(--g-slate-blue);
  background-color: hsl(252, 100%, 95%);
}

#icons {
  width: 15%;
  height: 2.2rem;
}

